/* src/components/Header.css */
.header {
    background-color: #2f2e2e;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 150px; 
    width: auto; /* Maintain aspect ratio */
  }
  
  .center-image {
    width: 200px; 
    height: 100px; 
    flex: 0 0 100px; /* flex-grow, flex-shrink, flex-basis */
  }
  
  .widget-wrap {
    padding: 20px;
    background-color: #6e6a6a;
    text-align: right; /* Ensure right alignment */
  }
  
  .widget-heading .heading-title {
    font-size: 19px;
    color: #f2eded;
    margin: 0 0 10px;
  }
  
  .widget-button .call-button {
    display: inline-block;
    background-color: #e47f0b;
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .widget-button .call-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .widget-wrap {
      text-align: center;
      margin-top: 1rem;
    }
  
    .call-button {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  